PGHOST='this is the host'
PGUSER='your user name'
PGDATABASE='the database you are using'
PGPASSWORD='your db password'
PGPORT='the port for your db'
JWTSECRETWORD='The secret word you use to generate you jwt'
