.orders-list{
    height: 500px;
    min-width: 50%;
    overflow-y: scroll
}
.details-section{
    margin:auto
}
.orders-list-container{
    display:flex; 
    padding:0
}
.edit-order-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: #ffffff;
    /*opacity: .9;*/
}
.edit-order-form{
    position: absolute;
    left: 35%;
    top: 30%;
}