.dual-content{
    display: flex;
    height: 100vh;
}
.dual-content ol{
    overflow-y: scroll;
    height: 100%;
}
body{
    height: 100%;
}
.dual-content > * {
    flex: 1;
}
.no-list-style > * {
    list-style: none;
}
.details-table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    background-color: #333333;
    color: #ffffff;
}
.details-table  tr {
    flex: 1;
    display: flex;
    border-bottom: 1px black solid;
}
.details-table td, .details-table th{
    margin: 5px;
    text-align: center;
    width: 50%;
}
.details-header{
    display: flex;
    justify-content: space-between;
}
.details-header span{
    font-size: 1.5em;
}
.edit-order-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: #ffffff;
    /*opacity: .9;*/
}
.edit-order-form{
    position: absolute;
    left: 35%;
    top: 30%;
}
@media screen and (max-width: 800px) {
    .dual-content table{
        position: relative;
        right: 1000px;
        width: 0;
    }
    .dual-content table::after{
        content: "Sorry you can not view this page because your screen is very small";
        position: absolute;
        top: 0;
        left: 1000px;
        width: 200px;
        margin: 50px 0;
        text-align: center;
    }
    .edit-order{
        display: none;
    }
    .edit-order-form{
        position: absolute;
        left: 20%;
    }
}