@import "reset.css";
/* @import "new-orders.css"; */
.container{
    margin: 0 10%;
}

.navigation-container{
    /* background-color: rgba(51, 51, 51, 0.534); */
    /* box-shadow: 0 0 20px; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.navigation ul{
    display: flex;
    flex-direction: row-reverse;
    opacity: 1;
    /*justify-content: flex-end;*/
}
.navigation a{
    text-decoration: none;
    color: #333333;
    display: inline-block;
    padding: 17px;
}
.navigation a:hover{
    background-color: #333333;
    color: #ffffff;
}
.navigation li{
    list-style: none;
}
.app-logo img{
    margin-top: 3px;    
}
.app-logo img{
    height: 45px;
}
.parcels-list li{
    background-color: rgba(0, 0, 0, 0.507);
    padding: 17px;
    border-radius: 5px;
    color: #ffffff;
}
.dark-background{
    background-color: #333333;
    color: #cccccc;
}
.half-width{
    margin: 0 auto;
}
.rounded-border{
    border-radius: 5px;
}
.card{
    box-shadow: 0 0 5px black;
    padding: 10px;
    text-align: center;
    margin: 17px;
    /*width: 100%;*/
}
.inputs{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.input-field{
    box-sizing: initial;
    padding: 10px;
    border: 0;
}

.inputs label, .inputs input, .inputs textarea{
    display: inline-block;
    margin: 10px 0;
    box-sizing: border-box;
}
.inputs input, .inputs textarea{
    font-size: 1.2em;
    padding: 10px;

}
.inputs label{
    text-align: right;
    padding-right: 25px;
}
.inputs > *{
    display: block;
    width: 45%;
}
.btn, input[type="submit"]{
    cursor: pointer;
    padding: 10px;
    border: 0;
}
.btn:active, input[type="submit"]:active{
    background-color: #333333;
    color: #ffffff;
}
.btn:focus, input[type="submit"]:focus{
    outline: 0;
}
.center{
    text-align: center;
}
.linear-backgroundc{
    /* background: linear-gradient(white, blueviolet) no-repeat;
    background-position-y: 50px;
    background-size: cover;
    min-height: 100vh; */
}
.light-gray-background{
    background-color: #cccccc;
}
.padding{
    padding: 17px;
}
.margin{
    margin: 17px;
}
.margin-bottom{
    margin-bottom: 17px;
}
.ordered-list {
    list-style-type: decimal ;
}
.within-window-height{
    max-height: 70vh;
}
.mouse-pointer-list > * {
    cursor: pointer;
}
.big-text{
    font-size: 1.5em
}
.small-text{
    font-size: 10px;
}
.red-bg{
    background-color: red;
}
.blue-bg{
    background-color: #507c91;
}
.white-bg{
    background: white;
}
.pos-right{
    position: absolute;
    right: 0;
    top: 0;
}
.relative-position{
    position: relative;
}
.circle-btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: brown;
    padding: 15px 25px;
    border-radius: 50%;
    cursor: pointer;
}
.transparant-bg{
    background-color: rgba(0, 0, 0, 0.719);
}
.white-text{
    color: white;
}
.flex-in-row{
    display: flex;
    flex-direction: row;
}
.margin-top-big{
    margin-top: 200px;
}
.padding-top-100{
    padding-top: 100px;
}
.padding-top-50{
    padding-top: 50px;
}
@media screen and (min-width: 800px)  {
    .half-width{
        width: 60%;
        margin: 0 auto;
    }
}


